@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    background-color: whitesmoke;
    color: black;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parentTr {
    grid-template-rows: 1fr 1.2fr 1fr 1fr 0.5fr;
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.div1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div1 img {
    width: 30%;
}

header {
    color: #202c2d;
    font-weight: bold;
    background: transparent;
    text-shadow: 0 1px #808d93, 1px 0 #cdd2d5, 1px 2px #808d93, 2px 1px #cdd2d5, 
             2px 3px #808d93, 3px 2px #cdd2d5, 3px 4px #808d93, 4px 3px #cdd2d5, 
             4px 5px #808d93, 5px 4px #cdd2d5, 5px 6px #808d93, 6px 5px #cdd2d5, 
             6px 7px #808d93, 7px 6px #cdd2d5, 7px 8px #808d93, 8px 7px #cdd2d5;
}

.div2, .div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.div4 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.szoba-merete-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

::placeholder { text-align: center; }

.szoba-merete-div input[type="text"] {
    border: 0.5px solid black;
    border-radius: 5px;
    text-align: center;
    width: 15%;
}

table td {
    text-align: center;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
}

th {
    text-align: center;
}

.div4 p {
    font-size: 25px;
}

.div3 h2 {
    align-self: flex-start;
    text-align: left;
    width: 100%;
}

.div3 ul li {
    font-size: 25px;
    list-style: decimal;
    padding: 20px 0;
}

.div3 h2 {
    padding-bottom: 20px;
}

.div3 ul {
    padding-left: 70px;
}

.div3 p {
    padding-top: 30px;
}


h1 {
    font-size: 90px;
    margin: 0;
    transition: transform 0.4s ease-in-out;
}

h1:hover {
    transform: scale(1.2);
}

.div1 img {
    transform:
      perspective(800px)
      rotateY(-10deg) 
      scale(0.95);
    transition: 0.6s ease all;
  }
  
.div1 img:hover {
    transform:
      perspective(800px)
      rotateY(10deg)  
      translateY(10px)
      scale(1);
    filter: blur(0) brightness(1);
    opacity: 1;
}

h2 {
    font-size: 50px;
    margin: 0;
}

p {
    font-size: 35px;
    text-align: justify;
    margin: 0;
}

.btn-outline-warning { /* Valamennyire jó helyen van most */
    margin-top: 10px;
    width: 80%;
}

.btn-outline-warning:active {
    background-color: rgb(255, 162, 0) !important;
    top: 1px;
    left: 1px;
}

.btn-success, .btn-danger, .btn-lg, .btn-outline-warning {
    position: relative;
}

.btn-success:active {
    background-color: rgb(0, 102, 0) !important;
    top: 1px;
    left: 1px;
}

.btn-danger:active {
    background-color: rgb(178, 0, 0) !important;
    top: 1px;
    left: 1px;
}

.btn-lg:active {
    background-color: #003de6 !important;
    top: 1px;
    left: 1px;
}

.btn-success, .btn-danger, .btn-outline-warning, .btn-lg:hover {
    transition: transform 0.2s;
}

.btn-success:hover, .btn-danger:hover, .btn-outline-warning:hover, .btn-lg:hover {
    transform: scale(1.1);
}

.navbar-brand img {
    transition: transform .4s;
}

.navbar-brand img:hover {
    transform: scale(1.15);
}

#danger-alert {
    padding: 10px;
    margin: 0;
}

#warning-alert {
    padding: 10px;
    margin: 0;
}

#light-alert {
    padding: 10px;
    margin: 0;
}

.logos {
    text-align: center;
}

.logos img {
    transition: transform .3s;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.logos img:hover {
    transform: scale(1.5);
}

.logos img:active {
    opacity: 0.3;
}

#bottomhr {
    margin: 30px 0;
    height: 2px;
    border: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0));
} 

footer p {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.navbar {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid black;
    z-index: 1000;
}

.navbar a {
    font-size: 20px;
    color: black;
    transition: color .5s, transform 0.3s ease-in-out;
}

.navbar a:hover {
    transform: translateY(-4px);
    color: rgb(169, 169, 169);
}

.szelesseg-magassag {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div-szelesseg, .div-magassag {
    width: 50%;
}

.room {
    margin: 0 auto;
    position: relative;
    border: 2px solid #000;
    background-color: white;
}

.item {
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.item.show {
    opacity: 1;
}

#bevezeto { scroll-margin-top: 300px; }
#mukodese { scroll-margin-top: 130px; }
#szobarendezoNav { scroll-margin-top: 300px; }